
// Font Family
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700|Open+Sans');

html{
  overflow-x: hidden;
}
body {
    background: #fff;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #212121;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5{
  font-size: 36px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
a{
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	&:hover{text-decoration: none;}
	a:focus{
	outline: none;
	}
}
p{
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  font-size: 14px;
}
ul,ol{
  list-style: outside none none;
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
}
.hero-heading {
	font-size: 40px;
	font-weight: 700;
	color: #fff;
	text-transform: capitalize;
	line-height: 70px;
	letter-spacing: 0.1rem;
}
.hero-sub-heading {
	font-size: 20px;
	font-weight: 400;
	color: darken(#fff, 10%);
	line-height: 45px;
	letter-spacing: 0.1rem;
}
.section-titile-bg {
    display: inline;
    font-size: 115px;
    font-weight: 700;
    height: 100%;
    left: -173px;
    opacity: 0.1;
    position: absolute;
    top: -14px;
    width: 100%;
    text-align: center;
}
.section-title-header{
  .subtitle{
    font-size: 20px;
    color: $preset;
    margin-bottom: 10px;
    font-style: italic;
  }
  p{
    text: center;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 36px;
  }
}
.section-title{
  font-size: 30px;
  color: #212121;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
  display: block;
  position: relative;
  margin-bottom: 10px;
  &:before{
    content: "[";
    color: $preset;
    padding-right: 10px;
  }
}
.section-title:after{
  content: "]";
  color: $preset;
  padding-left: 10px;
}
.section-subcontent{
  font-size: 16px;
  text: center;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 36px;
}
.section-sub{
  text-transform: uppercase;
  font-size: 24px;
  line-height: 52px; 
  padding-bottom: 15px;
  margin-bottom: 30px;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    height: 1px;
    width: 45px;
    left: 50%;
    bottom: 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: $preset;
  }
}
.subtitle {
	font-size: 15px;
  margin-top: 20px;
  font-weight: 500;
  margin-bottom:10px;
}
.inner-title {
	font-size: 24px;
	font-weight: 700;
	text-tranform: capitalize;
}
.page-tagline {
  font-size: 24px;
  font-weight: 400;
  color: #ddd;
}
.page-title {
  font-size: 62px;
  font-weight: 700;
  color: #fff;
}
.overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
$transition: all 0.3s ease-in-out;
@mixin pricing-box-shadow {
  -webkit-box-shadow: 0px 2px 10px 2px rgba(221,221,221,0.73);
  -moz-box-shadow: 0px 2px 10px 2px rgba(221,221,221,0.73);
  box-shadow: 0px 2px 10px 2px rgba(221,221,221,0.73);
}
@mixin icon-shadow {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28)
}
@mixin team-box-shadow {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
}
@mixin team-box-shadow-hover {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46);
}
@mixin blog-box-shadow {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
}
@mixin button-shadow {
  box-shadow: 0 2px 2.7px 0.1px rgba(0, 0, 0, 0.24) !important;
}
@mixin button-shadow-hover {
  box-shadow: 0 4px 4.7px .3px rgba(0,0,0,.24) !important;
}

//Bootstrap Button Core
.btn{
  font-size: 14px;
  padding: 10px 30px;
  line-height: 22px;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
  i{
    margin-right: 5px;
  }
}
.btn:focus,
.btn:active{
  box-shadow: none;
  outline: none;
  color: #fff;
}
.btn-common{
  background: $preset;
  position: relative;
  border: none;
  z-index: 1;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 30px;
    opacity: 0;
    transform: scale(0, 0);
    z-index: -1;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
  }
  &:hover{
    color: #fff;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15), 0 3px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
  }
}
.btn-common:hover::before{
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
  transform: scale(1, 1);
}
.btn-border{
  color: #212121;
  background-color: transparent;
  border: 1px solid rgba(36, 36, 36, 0.20);
  &:hover{
    color: $preset;
    border-color: $preset;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.btn-fill{
  background: #fff;
  color: #212121;
  &:hover{
    color: $preset;
  }
}
.btn-lg{
  padding: 12px 34px;
  text-transform: uppercase;
  font-size: 14px;
}
.btn-rm{
  padding: 7px 10px;
  text-transform: capitalize;
}
button:focus{
  outline: none!important;
}
.icon-close,.icon-check{
  color: $preset;
}
.bg-drack{
  background: #f1f1f1;
}
.bg-white{
  background: #fff;
}
.mb-30{
  margin-bottom: 30px;
}
.mt-30{
  margin-top: 30px;
}
/* ScrollToTop */
a.back-to-top{
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
  i {
  	display: block;
	  font-size: 22px;
	  width: 40px;
	  height: 40px;
	  line-height: 40px;
	  color: #fff;
    background: $preset;
	  border-radius: 30px;
	  text-align: center;
	  transition: all 0.2s ease-in-out;
	  -moz-transition: all 0.2s ease-in-out;
	  -webkit-transition: all 0.2s ease-in-out;
	  -o-transition: all 0.2s ease-in-out;
	  @include icon-shadow;
	}
	&:hover , &:focus {
		text-decoration: none;
	}
}
/* ==========================================================================
   Page Header
   ========================================================================== */
  .page-header{
    padding: 0;
    margin: 0;
    position: relative;
    background: url(../img/header-bg.jpg);
    background-size: cover;
    background-position: 0px 0px, 50% 50%;
    min-height: 350px;
    &:before{
      background: rgba(34, 34, 34, 0.4);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      content: "";
      display: block;
    }
    .page-header-inner{
      color: #fff;
      margin-top: 140px;
    }
    .page-title{
      color: #fff;
      font-size: 40px;
      margin-bottom: 10px !important;
    }

    ul{
      margin: 0;
      padding: 0;
      li{
        color: $preset;
        display: inline-block;
        font-weight: 400;
        line-height: 25px;
        a{
          color: #fff;
          position: relative;
          padding-right: 30px;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          &:hover{
            color: $preset;
          }
        }
        a:after,a:before{
          background-color: rgba(255, 255, 255, 0.8);
          content: "";
          height: 15px;
          width: 2px;
          position: absolute;
          right: 7px;
          top: 2px;
          transform: rotate(26deg);
        }
        a:before{
          right: 13px;
        }
      }
    }
  }
// Preloader Styles
#preloader{
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
}
.sk-circle {
  margin: 0px auto;
  width: 40px;
  height: 40px;
  top: 45%;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: $preset;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

//Helper Classes
.section-padding {
	padding: 60px 0;
}
.no-padding {
	padding: 0 !important;
}
.padding-left-none {
	padding-left: 0;
}
.padding-right-none {
	padding-right: 0;
}

// Page Banner Area
#page-banner-area{
  background: url(../img/background/banner.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.page-banner{
  position: relative;
  min-height: 250px;
  color: #fff;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  .page-banner-title{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    h2{
      color: #fff;
      font-size: 40px;
    }
  }
}

//  Fade IN
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

#white-bg{background: #fff;}